#landing {
  background: url("https://cdn.pixabay.com/photo/2015/04/20/13/34/beach-731414_1280.jpg")
    no-repeat center center fixed;
  /* filter: grayscale(100%); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scroll: touch;

  /* background-color: grey; */
}

.uk-container-large {
  max-width: none;
}

.logo {
  font-family: 'Overpass', sans-serif;
  margin: 15px;
  font-size: 65px;
  text-align: center;
}

#logoBox {
  width: 500px;
  height: 250px;
}

#name {
  font-family: 'Overpass', sans-serif;
  color: black;
  font-size: larger;
}


.grad-overlay {
  width: 90%;
}

#projects {
  top: 150px;
}

#uk-overlay {
  margin: 50px;
}

.uk-grid-match {
  margin: 0;
  padding-left: 0;
}

.uk-card {
  border: 5px solid white;
  border-radius: 25px;
}